@inherits LayoutComponentBase

<PageTitle>MineSweeperClientBlazor</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
        </div>
            <ul class="nav justify-content-center nav-pills">
            <li class="nav-item">
            <a class="nav-link active" href="minesweeper">MineSweeper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="heightandwidth">Height & Width</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="amountOfMines">Amount of Mines</a>
            </li>
            </ul>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
