@page "/"

<PageTitle>MineSweeper</PageTitle>

<div class="text-center">
    <h1>Welcome to MineSweeper!</h1>
    
    <p class="lead">Configure your game and start playing!</p>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="/heightandwidth" class="btn btn-primary btn-lg">Set Board Size</a>
        <a href="/amountOfMines" class="btn btn-primary btn-lg">Set Mine Count</a>
        <a href="/minesweeper" class="btn btn-success btn-lg">Play Game</a>
        <a href="/score" class="btn btn-info btn-lg">View Scores</a>
    </div>
</div>
